.mat-dialog-container {
    width: 600px;
  }

.dialog-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  h2 {
    text-align: center;
  }
  
  .image-container {
    padding-right: 20px;
  }
  
  .book-image {
    height: 400px;
  }
  
  .details-container {
    flex: 1;
    padding-left: 20px;
    max-width: 500px;
  }

  mat-dialog-actions {
    justify-content: center;
  }